.menu-button {
    border-radius: 5px;
}

.menu-button-dark:hover {
    background-color: #162d42 !important;
}

.cursor:hover {
    cursor: pointer;
}

.header {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
}